/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 #editor {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 }

 .ace-container{
   position: relative;
   width: 50%;
   height: 500px;
 }

body{
  font-family: 'Helvetica';
  font-weight: lighter;
  color: #595959;
  /*background: red;*/
}

.faded{
  color: #a4a4a4;
}

.small{
  font-size: .8em;
}

a:link {
    color: #838282;
   text-decoration: none;
}

/* visited link */
a:visited {
    color: #838282;
}

.implementation_area{
  height: 500px;
  width: 50%;
}

.description_area{
  height: 100px;
  width: 50%;
}

.tag_list{
  width: 50%;
}

.f_25{
  width: 20%;
  display: inline-block ;
  margin-right: 1%;
}

.fill_witdh{
  width: 100%;
}

.small-tag{
  background-color: #dbdada;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 5px;
}
