/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Helvetica';
  font-weight: lighter;
  color: #595959;
}

.faded{
  color: #a4a4a4;
}

.small{
  font-size: .8em;
}

a:link {
    color: #838282;
   text-decoration: none;
}

/* visited link */
a:visited {
    color: #838282;
}

.implementation_area{
  height: 500px;
  width: 50%;
}

.description_area{
  height: 100px;
  width: 50%;
}

.tag_list{
  width: 50%;
}
