@import "variables";
@import "custom-bootstrap";
@import "editor";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-weight: lighter;
  color: #595959;
  font-family: 'Open Sans'
}

.faded{
  color: #a4a4a4;
  display: inline;
}

.small{
  font-size: .8em;
}

.description_area{
  height: 200px !important
}

.tag_list{
  width: 50%;
}

.f_25{
  width: 20%;
  display: inline-block ;
  margin-right: 1%;
}

.fill_witdh{
  width: 100%;
}

.small-tag{
  background-color: #dbdada;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: .5em
}

.logo{
  width: 200px;
}

.footer{
  line-height: 2em;
  text-align: center;
}

.doc{
  line-height: 2em;
  p{
    margin-top: 1em;
  }
}

hr{
  border-color: $color_dark_gray;
}

.doc-created-and-updated{
  @extend .text-right, .faded;
  margin-top: 1em;
}

.no-likes{
  color: #a4a4a4;
  margin-top: 1em;
}

.action-row{
  margin-bottom: 1em;
}
